@charset "ISO-8859-1";

button {
	width: auto;
	padding-top: 50px;
	padding-bottom : 25px;
	margin : 10px;
}


input {
	min-width: 250px;
	max-width: 250px;
	padding-top : 10px;
	padding-bottom : 10px;
}

h1 {
	text-align: center;
	padding-top : 100px;
	padding-bottom : 50px;
}

label {
	min-width: 180px;
	padding-top : 10px;
	padding-bottom : 10px;
}

table {
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 30px;
	font-weight: 20;
	font-size : 18px;
	min-height: 400px;
	min-width: 300px
}

tr{
	margin : 25px
}

/* CLASSE */
.boutton-creer-compte{
	width: 100%;
}

.form-check > input {
	min-width: 0px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.form-check > label {
	min-width: 0px;
	padding-top : 10px;
	padding-bottom : 10px;
}

/* .input-group > input { */
/* 	min-width: 300px; */
/* 	max-width: 300px; */
/* 	padding-top : 10px; */
/* 	padding-bottom : 10px; */
/* } */

/* .lien{ */
/* 	width: auto; */
/* } */

.logo{
	margin: 20px;
	padding-left: 20px;
}